<!DOCTYPE html>
<html>
<head>
    <title></title>
		<#include "/header.html">
<link rel="stylesheet" href="${request.contextPath}/statics/plugins/layui/css/layui.css"  media="all">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
        <div class="layui-form" style="width: 12%;float:left;">
          		<div class="layui-form-item">
			    	<div class="layui-input-block" style="margin-left: 1%">
			      		<select id="selected" lay-filter="lay">
			        		<option value="WD2-3145-AMP-DD22" selected>泉水</option>
			        		<option value="WD2-3145-AMP-DD21">六合</option>
     			 		</select>
			    	</div>
  				</div>
  			</div>
  			<div>
			<input type="text" id="monthtime" class="form-control" v-model="q.monthtime" @keyup.enter="query" placeholder="月份" style="width: 10%;float: left;margin-left: 1%;margin-right: 1%">
			</div>
			<a class="btn btn-default" id="clear">重置</a>
			<a class="btn btn-default" @click="query">查询</a>
			<#if shiro.hasPermission("sys:unitprice:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("sys:unitprice:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("sys:unitprice:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
        <div class="form-group">
                        <div class="col-sm-2 control-label">地点</div>
                        <label class="radio-inline">
							<input type="radio" name="terminalid" value="WD2-3145-AMP-DD22" v-model="unitprice.terminalid"/> 泉水
						</label>
						<label class="radio-inline">
							<input type="radio" name="terminalid" value="WD2-3145-AMP-DD21" v-model="unitprice.terminalid"/> 六合
						</label>
                    </div>
														                    <div class="form-group">
                        <div class="col-sm-2 control-label">月份</div>
                        <div class="col-sm-10">
                            <input type="text" id="priceMonth" class="form-control" v-model="unitprice.priceMonth" placeholder="月份单价"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">石粉</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="unitprice.priceA" placeholder="石粉"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">米砂</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="unitprice.priceB" placeholder="米砂"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">瓜子片</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="unitprice.priceC" placeholder="瓜子片"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">细碎</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="unitprice.priceD" placeholder="细碎"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">玄武岩2#</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="unitprice.priceE" placeholder="玄武岩2#"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">玄武岩1#</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="unitprice.priceF" placeholder="玄武岩1#"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">沥青油</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="unitprice.priceG" placeholder="沥青油"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">铣刨料</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="unitprice.priceH" placeholder="铣刨料"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">矿粉</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="unitprice.priceI" placeholder="矿粉"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">乙烯焦油</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="unitprice.priceJ" placeholder="乙烯焦油"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">燃料油</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="unitprice.priceK" placeholder="燃料油"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">抗剥落剂</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="unitprice.priceL" placeholder="抗剥落剂"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">木制纤维</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="unitprice.priceM" placeholder="木制纤维"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">改性沥青油</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="unitprice.priceN" placeholder="改性沥青油"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">乳化剂</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="unitprice.priceO" placeholder="乳化剂"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">彩色沥青油</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="unitprice.priceP" placeholder="彩色沥青油"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">红色颜料</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="unitprice.priceQ" placeholder="红色颜料"/>
                        </div>
                    </div>
							            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>
<script src="${request.contextPath}/statics/js/modules/sys/laydate/laydate.js"></script> 
<script src="${request.contextPath}/statics/plugins/layui/layui.js"></script>
<script src="${request.contextPath}/statics/js/modules/sys/unitprice.js?_${.now?long}"></script>
</body>
</html>